<%= form_for(list) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :movie %>
    <%= f.association :movie, collection: Movie.active.order(:title), prompt:"Choose a movie"%>
  </div>
<% end %>
